<p style="color: green"><%= notice %></p>

<h1>My Entities</h1>

<ul id="records">
  <% @entity.each do |entity| %>
    <li class="">
      <%= link_to entity do %>
          <ul class="recipe">
            <li class=""><span>name: </span><%= entity.name %></li>
            <li class=""><span>amount: $ </span><%= entity.amount %></li>
          </ul>
      <% end %>
    </li>  
  <% end %>
</ul>

<%= link_to "Add entity", new_category_entity_path %>